.ui-icon-cladogram {
	background-image: url(images/cladogram.png) !important;
}

.detailsDiv {
	border-radius: 15px;
	padding:15px;
	text-align:justify;
	background-color: #FFFFFF;
	font-family:Fjord;
	font-size:18px;
}
